<div class="w3-display-topmiddle">
<h3>ออเดอร์ที่รอการเสริฟ</h3>
<table>
  <tr>
    <td>
        <mat-card style="background-color: rgb(255, 208, 208); margin: 10px;">
          <div>
         ออเดอร์ที่ <h2>10 </h2><p>
            เสริฟโต๊ะ  <h1>5</h1> 
          </div>
        </mat-card>

    </td>
    <td>
        <mat-card style="background-color: rgb(255, 208, 208); margin: 15px;">
          <div>
         ออเดอร์ที่ <h2>10</h2><p>
            เสริฟโต๊ะ <h1>5</h1>
          </div>
        </mat-card>

    </td>
    <td>
        <mat-card style="background-color: rgb(255, 208, 208); margin: 15px;">
          <div>
         ออเดอร์ที่ 10 <p>
            เสริฟโต๊ะ  5
          </div>
        </mat-card>

    </td>
  </tr>
</table>
</div>