

    <span> ออร์เดอร์ที่ 5 </span>
    <span style="float: right;margin-right: 20px"> โต๊ะที่ 5 </span><p>
        <span> จาก </span><p>
            <span> สถานะออเดอร์ </span>
            <mat-dialog-content class="mat-typography">
            <table mat-table [dataSource]="dataSource" style="width: 520px; background-color: #E7FDE8;  ">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <div *ngIf="buttoncomfrim">
                
                    <button mat-raised-button class="buttonconfirm" (click)="showbuttonfinish()">รับออเดอร์</button>
                    <button mat-raised-button class="buttonconfirm2">ยกเลิก</button>
           
            </div>

            <div *ngIf="buttonfinish">
                
                    <button mat-raised-button mat-dialog-close >เสริฟ!!</button>

            </div>
        </mat-dialog-actions>
