<mat-card>

  <h1>สวัสดีคุณ Nattapong Pallawal</h1>
  <br> กรุณาเลือกร้านของคุณ

  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <button mat-icon-button (click)="onClickAddRes()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

</mat-card>