<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">My Order</h1>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu" style="border-radius: 50px; margin: 16px; height: 50px;">
      <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/37208281_497837380665473_2336000465679941632_n.jpg?_nc_cat=0&oh=f8ba6bad0a12628c93622d09fdf62758&oe=5BC92133"
        style="border-radius: 50%; width: 40px;height: 40px; vertical-align:middle; "> Hello! Nattapong
      <mat-icon>expand_more</mat-icon>
    </button>

    <button mat-icon-button (click)="noti.toggle()"><mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon></button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>person</mat-icon>ข้อมูลส่วนตัว</button>
      <button mat-menu-item (click)="onClickLogout()"><mat-icon>input</mat-icon>ออกจากระบบ</button>
    </mat-menu>


  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div style="height: 150px; background-color: blue; position:relative;">
        <!--<img src="src\assets\picture\login-bg.svg"> -->
        <img class="corrner">

      </div>
      <mat-nav-list>
        <!--  <a mat-list-item routerLink="#" *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <a mat-list-item routerLink="/home/dashbord" routerLinkActive="active">
          <mat-icon class="paddingIcon">home</mat-icon>หน้าแรก
        </a>
        <a mat-list-item routerLink="/home/order" routerLinkActive="active">
          <mat-icon class="paddingIcon">reorder</mat-icon>ออเดอร์ลูกค้า
        </a>
        <a mat-list-item routerLink="/home/serve" routerLinkActive="active">
          <mat-icon class="paddingIcon">send</mat-icon>เสริฟ
        </a>
        <a mat-list-item routerLink="/home/payment" routerLinkActive="active">
          <mat-icon class="paddingIcon">payment</mat-icon>ชำระเงิน
        </a>
        <a mat-list-item routerLink="/home/order-history" routerLinkActive="active">
          <mat-icon class="paddingIcon">history</mat-icon>ประวิติออเดอร์
        </a>
        <a mat-list-item routerLink="/home/menu" routerLinkActive="active">
          <mat-icon class="paddingIcon">restaurant_menu</mat-icon>รายการอาหาร
        </a>
        <a mat-list-item routerLink="/home/raw-material" routerLinkActive="active">
          <mat-icon class="paddingIcon">restaurant</mat-icon>จัดการวัตถุดิบ
        </a>
        <a mat-list-item routerLink="/home/restaurant-info" routerLinkActive="active">
          <mat-icon class="paddingIcon">info</mat-icon>ข้อมูลร้าน
        </a>
        <a mat-list-item routerLink="/home/summary" routerLinkActive="active">
          <mat-icon class="paddingIcon">account_balance_wallet</mat-icon>สรุปยอด
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav  #noti mode="side"position="end">Sidenav content</mat-sidenav>
    <mat-sidenav-content style="padding :16px;">
      <p>Componant</p>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>